
body{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', serif;
}

.header{
    min-width: 1200px;
    padding-top: 384px;
    padding-bottom: 243px;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),url(../img/sections-background/section-1.jpg) center/cover no-repeat;
    background-attachment: fixed;
    text-align:center;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 134px;
    color: white;
    align-items: center;
}

.logo{
    font-size: 32px;
}

.logo-href{
    color: #FFFFFF;
}

.logo-back{
    background: url(../img/icon/polygon.png) center no-repeat;
    width: 58px;
    height: 67px;
    padding: 18px 13px;
    font-size: 40px;
    font-weight: 700;
}

.menu{
    background:rgba(94, 93, 88, 0.6);
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.menu-panel{
    gap: 305px;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.container{
    max-width: 1160px;
    margin: 0 auto;
}

.nav-panel{
    gap: 21px;
    display: flex;
    align-items: center;
}

.navigation{
    display: flex;
    height: 120px;
    gap: 21px;
    font-weight: 700;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.menu-item{
    font-size: 16px;
    display: flex;
    text-transform: uppercase;
    align-items: center;  
}

.menu-item:hover{
    border-bottom: 2px solid #18CFAB;
    margin-top: 2px;
}

a{
    color:rgba(255, 255, 255, 0.6);
}

.menu-item:hover a{
    color: #18CFAB;
}

.title-content{
    display: flex;
    flex-direction: column;
}
.uppercase{
    text-transform: uppercase;
}

.color-aqua{
   color: #18CFAB;
   font-weight: 700;
}

h3{
    font-size: 35px;
}

h1{
   font-size: 78px;
}

.third-title{
    font-weight: 400;
    color: #D4D4D4;
}

.header-btns{
    gap:26px;
    display: flex;
}

.btn{
    text-transform: uppercase;
    width: 168px;
    height: 68px;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0px 6px 0px #fff;
    font-weight: 700;
}

.left-btn{
    background: #18CFAB;
}

.right-btn{
    background: #00CBF6;
}

/* main */

.main{
    min-width: 1200px;
}

/* benefits */
.benefits-section{
    padding: 8px 0;
    background-color: #fff;
}

.benefits{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.benefit{
    height: 361px;
    text-transform: uppercase;
    font-weight: 700;
    display: grid;
    justify-items: center;
    align-content: center;

}

.benefit-item-1{
    background: #1C2A33;
    color: #18CFAB;
    gap: 47px;
}

.benefit-item-2{
    background: #18CFAB;
    color: #fff;
    gap: 59px;
}

.benefit-item-2>p{
    margin-bottom: -12px;
}

/* our services */

.service-section{
    /* height: 550px; */
    background: #fff;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    display: grid;
    gap: 70px;
    padding: 83px 0;
}

.services-header, .work-header, .breaking-news-header, .people__review_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.services-title, .work-title, .breaking-news-title, .people__review_title{
    color: #4E4E4E;
    font-size: 36px;
    font-weight: 400;
    padding-bottom: 26px;
}

.title::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-37%);
    bottom: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1px 0 0 78px;
    border-color: #18cfaa;
}
.title::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1px 0 0 78px;
    border-color: #18cfaa;
}

.centered-content {
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
}

.tabs {
    display: flex;
    width: 100%;
    z-index: 0;
}

.tabs-title {
    padding: 25px;
    background: #F8FCFE;   
    border: 1px solid #F2F2F2; 
    /* cursor: pointer; */
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    text-align: center;
    color: #717171;


    width: 193px;
    height: 72px;
    text-align: center;
    padding: 15px;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 39px;
    align-items: center;
    color: #717171;
    position: relative;

}

.tabs-title:hover{
    border: 1.5px solid #18CFAB;
}

.tabs-title.active {
    background: #18CFAB;
    color: #fff;
    /* border: 1px solid #18CFAB; */
}

.tabs-title.active::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -13px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 13px 0 13px;
    border-color: #18cfaa transparent transparent transparent;
}

.tab{
    display: none;
    font-weight: 300;
    color: #777777;
}

.tab.active{
    gap: 15px;
    display: flex;
    flex-direction: row;
}

/* second section */

.purchase-section{
    min-width: 1200px;
    /* height: 476px; */
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/sections-background/section-2.jpg) center/cover no-repeat;
    background-position: top;
    background-attachment: fixed;
    text-align:center;

    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */

    display: grid;
    padding: 127px 0;
    justify-items: center;
    gap:62px
}

.title-purchase{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.first-title-purchase{
    font-size: 40px;
    font-weight: 700;
}

.second-title-purchase{
    font-size: 16px;
    font-weight: 400;
    color:#D8D8D8;
}

.purchase-btn{
    background: #18CFAB;
}


.work-section{
    min-width: 1200px;
    background: #E9EDEF;
    
}

.work-container{
    display: grid;  
    gap: 70px;
    padding: 74px 0;
}

.work-gallery{
    display: grid;
    gap: 84px;
    justify-items: center;
}

.work-cards{
    display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
}

.card{
    display: none;
}

.card.work-active{
    position: relative;
    width: 290px;
    height: 211px;
    display: flex;
    align-items: center;
    justify-content: center;
	transition: 0.4s ease-out;
    
}

.card.work-active .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card.work-active:hover{
    transform: translateY(0px);
}

.card.work-active:hover:before {
    opacity: 1;
}

.card.work-active:hover .info{
    opacity: 1;
    transform: translateY(0px);

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card.work-active:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    /* border-radius: 15px; */
    background: #E9EDEF;
    z-index: 2;
    transition: 0.5s;
    opacity: 0;

    border-top: 2px solid #18CFAB;
}

.card.work-active .info{
    position: relative;
	z-index: 3;
	opacity: 0;
    transform: translateY(30px);
		transition: 0.5;
}

.info-ref{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.circle{
    width: 41px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

.icon-link{
    object-fit: unset;
    position: relative;
}

.first-circ{
    background-color: #fff;
    border: 2px solid #18CFAB;
}

.second-circ{
    background-color: #18CFAB;
}


.info-decri{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.info-title{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #18CFAB;
}

.info-paragraph{
    font-size: 12px;
    font-weight: 300;
    color: #8A8A8A;
}

.work-filter{
    display: grid;
    justify-content: center;
    width: 582px;
    grid-template-columns: 77px 1fr 1fr 1fr 1fr;
}

.work-tab{
    display: grid;
    justify-content: center;
}

.work-tabs-title{
    padding: 14px 0;
    height: 55px;
    text-align: center;
    background: #E9EDEF;
    border: 1px solid #DADADA;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    align-items: center;
    font-weight: 400;
    color: #717171;
}

.work-tabs-title:nth-child(1){
    width: 77px;
}

.work-tabs-title:hover, .work-tabs-title.work-active {
    border: 2px solid #18CFAB;
}

.btn-load{
    background: #18CFAB;
    font-size: 14px;
    font-weight: 700;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    box-shadow: none;
}

.loading, .load-txt{
    display: flex;
    text-align: center;
}

:root {
    --effect: hover 1s linear infinite;
}
  
.loading p {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-family: arial;
    font-weight: 600;
    transform: scale(.5);
    color: #fff;
    -webkit-text-stroke: 2px #fff;
}
  
.loading p:nth-child(1) {
    animation: var(--effect);
}
  
.loading p:nth-child(2) {
    animation: var(--effect) .125s;
}
  
.loading p:nth-child(3) {
    animation: var(--effect) .25s;
}
  
.loading p:nth-child(4) {
    animation: var(--effect) .375s;
}
  
.loading p:nth-child(5) {
    animation: var(--effect) .5s;
}
  
.loading p:nth-child(6) {
    animation: var(--effect) .675s;
}
  
.loading p:nth-child(7) {
    animation: var(--effect) .75s;
}

.loading p:nth-child(8) {
    animation: var(--effect) .875s;
}

.loading p:nth-child(9) {
    animation: var(--effect) 1s;
}
  
@keyframes hover {
    0% {
      transform: scale(.5);
      color: #fff;
      -webkit-text-stroke: 2px #fff;
    }
  
    20% {
      transform: scale(1);
      color: pink;
      -webkit-text-stroke: 3px red;
      filter: drop-shadow(0 0 1px white)drop-shadow(0 0 1px white)drop-shadow(0 0 3px red)drop-shadow(0 0 5px red)hue-rotate(2turn);
    }
  
    50% {
      transform: scale(.5);
      color: #fff;
      -webkit-text-stroke: 2px #fff;
    }
  
  
}
  

/* news */

.breaking-news-section{
    min-width: 1200px;
}

.breaking-news-container{
    background: #fff;
    padding: 82px 0 128px 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 68px;
}

.breaking__news_gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 46px;

    justify-items: center;
}

.card-photo{
    position: relative;
}

.green{
    position: absolute;
    top: 0;
    right: 0px;
    width: 70px;
    height: 68px;
    background: #203E38;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;

    display: grid;
    /* justify-content: center; */
    /* flex-direction: column; */
    justify-items: center;
    align-items: center;
    align-content: center;

}

.news-card-title{
    line-height: 36px;
    padding-left: 20px;
}

.news-card-title h4{
    font-size: 18px;
    font-weight: 700;
    color: #717171;
}

.news-card-title p{
    font-size: 14px;
    font-weight: 300;
    color: #777777;
}

.news-card:hover .green{
    background: #18CFAB;
} 

.news-card:hover .news-card-title h4{
    color: #18CFAB;
}

.breaking-news-header{
    position: relative;
}

.people__section{
    min-width: 1200px;
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../img/sections-background/section-3.jpg) center/cover no-repeat;
    background-position: top;
    background-attachment: fixed;
    text-align:center;

    padding: 98px 0;
    gap:68px;
}

.people__review{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 66px;
}

.people__review_title{
    color: #FFFFFF;
}

.people__review_reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.wrapper-about__list__people {
    padding-bottom: 98px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.wrapper-about__main__img img,
.wrapper-about__list__people img {
    border-radius: 50%;
}

.wrapper-about__main__img img {
    border: 12px solid rgba(31, 218, 181, 0.2);
}
.wrapper-about__list__people img {
    border: 6px solid rgba(31, 218, 181, 0.2);
}

.wrapper-about__list__people{
    padding-top: 14px;
}

.about-pointer {
    border: 1px solid #BBBBBB;
    background: rgba(0, 0, 0, 0.0001);
    width: 31px;
    height: 31px;
}
.about-pointer:hover {
    background: #18CFAB;
}
.about-pointer svg {
    margin: 8px 10px;
}

.wrapper-about__main__img li{
    display: none;
}

.wrapper-about__main__img, .about-employer span{
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    text-transform: none;
}


.about-employer{
    font-weight: 700;
}

.wrapper-about__main__img .show{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.profile-tab{
    flex: 1;
    order: 2;

    display: flex;
    gap: 30px;
}



.profile-tab>li img{
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.profile-tab>li img:hover{
    top: -16px;
}

.profile-tab>li.show img{
    top: -16px;
}

#left{
    order: 1;
}

#right{
    order: 3;
}

.footer{
    min-width: 1200px;
    padding: 48px 0;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    background: #22353F;
}

.footer a{
    color: #18CFAB;
}

